body {
     width : 50%;
     margin : 0 auto;
     font-family:Arial, Helvetica, sans-serif;
}
select{
  position: absolute;
}
.container {
    width : 300px;
    height : 100px;
    vertical-align: middle;
    font-size: 30px;
    border : 2px solid burlywood;
    border-radius: 10px;
}

.usMap {
    width : 900px;
    height: 800px;
}
#addsCity{
    width : 40px;
    height : 20px;
    border : 2px;
    border-radius: 5px;

}

#inputCity{
    width : 120px;
    height : 50px;
    border: 2px solid black;
    border-radius: 2px;
}

.item-styling{
    margin : 5px;
    font-size: 15px;
}

.custom-popup{
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: #333333;
    opacity: 0.7;
    
}

.custom-popup-small{
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 10px;
  color: #333333;
  opacity: 0.5;
  
}
.custom-popup .mapboxgl-popup-content {
    opacity: 0.85; 
    width: 120px;
    height: 55px;
  }
  .custom-popup-small .mapboxgl-popup-content {
    opacity: 0.65; 
    width: 80px;
    height: 20px;
  }

  .popup-content {
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .popup-content h4 {
    font-size: 11px;
    margin: 0 0 2px;
  }
  
  .popup-content p {
    font-size: 10px;
    margin: 0;
  }